/* Header cells */
.p-datatable-thead > tr > th {
  padding: 0.5rem 1rem; /* py-2 px-4 */
  text-align: left;
  font-weight: 600;
  background-color: var(--p-surface-100);
}

.p-datatable-column-title {
  font-weight: 600 !important;
  color: var(--p-surface-950) !important;
}

/* Body cells */
.p-datatable-tbody > tr > td {
  padding: 0.5rem 1rem;
  text-align: left;
}

/* Footer cells */
.p-datatable-tfoot > tr > td {
  padding: 0.5rem 1rem;
  text-align: left;
  font-weight: 600;
  background-color: var(--p-surface-100);
}
  
  